:root:not([data-theme]) {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #fff;
}

/* * {
  outline: lime solid 1px;
} */

.chart-bar {
  background: var(--primary);
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}

.chart-bar-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

article > .chart-bar-container {
  height: 12rem;
}
